* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #092948;
}

header {
  width: 100%;
}

nav {
  width: 70%;
  margin: auto;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  padding-left: 30px;
}

header li:first-child {
  margin-right: auto;
}

.main-vsual {
  width: 100%;
}
