* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #092948;
}

header {
  width: 100%;
  height: 50px;
}

header ul {
  width: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header li {
  padding-left: 30px;
}

header li:first-child {
  margin-right: auto;
}

.main-vsual {
  width: 100%;
}

.about {
  text-align: center;
}

.about-item {
  display: flex;
  justify-content: center;
}

.about h2 {
  margin: 20px 0;
}

.about-item img {
  width: 45%;
}

.about-item p {
  width: 45%;
}

.course h2 {
  margin: 20px 0;
}

.course-item {
  display: flex;
}

.course-box img {
  width: 75%;
}
